RewriteEngine On
RewriteBase /backend/

# すでにファイルやディレクトリが存在する場合は何もしない

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# すべてのリクエストを backend/index.php に転送する

RewriteRule ^ index.php [QSA,L]
